
body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(246, 228, 228);
}

a {
    text-decoration: none;
    font-size: 1.6rem ;
}

// HEADER
.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/pawel-czerwinski-ruJm3dBXCqw-unsplash.jpeg');
    background-size: cover;
    background-position-x: 10%;
    background-position-y: 10%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    animation: introLoad 2s forwards;
    opacity: 70%;
     overflow: hidden;
}

.logo {
    color: white;
    font-weight: bold;
}

.square {
    height: 10px;
    width: 10px;
    background-color: red;
    display: inline-block;
    margin-bottom: 2px;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}

.square:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    background-color: rgb(195, 0, 255);
}

header {
    display: flex;
    justify-content: space-between;

    svg {
        width: 2.5em;
        margin-top: -.6em;
        cursor: pointer;
    }
}

h1 {
    font-size: 2rem;
    margin-top: 7em;
    line-height: 2rem;
}

.subhead {
    font-size: 1.4rem;
    margin-left: 1em;
    margin-top: -1.2em;
    color: black;
}

section.hero {
    color: black;
    height: 50vh;
    animation: moveDown 1s ease-in-out forwards; 
    opacity: 0;
    position: relative;

    .down-arrow {
        stroke: white;
        position: absolute;
        bottom: 13em;
        width: .7em;
        animation:  moveArrow 1s alternate-reverse infinite;

        path {
            fill:white;
        }
    }

    h1 {
        margin-left: 0.3em;
        margin-top: 7em;
        text-align: left;
        line-height: 3rem;
    }

    .emoji {
        left: 20%;
        float: right;
        // margin-top: 27.5%;
        width: 30vh;

    }
}

// NAVIGATION
nav {
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: black;
            padding: .75em 2em;
            display: block;

            &:hover {
                background: rgb(235, 232, 232);
            }
    
        }
    }

}
.open-nav {
    transform: translateX(0%);
}

.close {
    float: right;
    margin: 2em;
    width: 2.5em;
}

// PROJECTS SECTION
.projects-info {
    display: unset;
    padding: 10%;
    .projects {
        text-align: center;
        margin-bottom: 4em;

        .title {
            margin-top: 7px;
            padding-top: 2.5%;
            font-weight: bold;
            font-size: 1.25rem;
            margin-bottom: 3em; 
        }
        .list-of-projects {
            list-style: none;
            display: flex;
            flex-flow: column wrap;
            height: 100px;
            align-content: space-around;
            gap:40px;
    
            a {
                color: rgb(46, 45, 45);
                font-size: 20px;
                width: 20%;
                height: 20%;
            }
            img {
                width: 10%;
                height: 10%;
            }
        }
    
    }
}
.projects-background {
    position: absolute;
    left: 0;
    background-image: linear-gradient(rgb(248, 199, 227), rgb(252, 247, 249));
    width: 100%;
    height: 35vh;
    z-index: -1;
    opacity: 60%;
    top: 100%;

}

// SKILLS SECTION
.skills-info {
    display: unset;
}
.skills {
    text-align: center;
    margin-bottom: 5em;
    overflow: hidden;
    padding-left: 20%;
    padding-right: 20%;

    .title {
        padding-top: 5%;
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 2em; 
    }

    .list-of-skills {

        list-style: none;
        display: flex;
        flex-flow: row wrap;
        gap:9%;
        justify-content: space-around;

        .skill-icon {     
            width: 130%;
        }
    }

}

.skills-background {
    position: absolute;
    left: 0;
    background-image: linear-gradient(rgb(216, 176, 216), rgb(250, 250, 250));
    width: 100%;
    height: 40%;
    z-index: -1;
    opacity:60%;
    top: 135%;
}


// CONTACT SECTION
 #contact {
     padding-top: 4%;
     font-size: 20px;
     text-align: center;
     font-weight: bold;


 }

 .content .title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 2em; 
 }

.contact-background {
    position: absolute;
    left: 0;
    background: rgb(243, 241, 241);
    background-size: cover;
    width: 100%;
    z-index: -1;
    opacity:100%;
    margin-top: -2em;
}

//  FOOTER
footer {
    margin-top: 30px;
    display: flex;
    text-align: center;
    height: 80px;
    width: 100%;

    a {
        margin-top: 20px;
        width: 100%;
        padding: 0%;
        
        &:hover {
            background: rgb(238, 236, 236);
            border-radius: 20%;
            opacity: 60%;
        }
    }

    .icons {
        width: 100%;
        display: flex;
        text-align: center;
        height:120%;
        .icon {
            width: 7vh;

         }
    }
}

.icons-describtion {
    display:inline;
    list-style: none;
    display: flex;
    text-align: center;
    p {
        width: 50%;
        height: 50%; 
    }
  }
.end {
    display: grid;
    #sign {
        text-align: center;
        width: 100%;
      } 
    .arrow-up {
        position: absolute;
        background-color: white;
        border: 1px solid;
        padding: 10px;
        right:5.6%;
        
        &:hover {
            box-shadow: 10px 10px 0px 0px rgb(139, 135, 135);
            transform: translate(5px, -5px);
            transition: 0.2s all ease-in-out;
        }
    }
}



// MEDIA 
 @media only screen and (min-width: 729px) and (max-width:899px) { 
    section.hero {
        height: 43vh;

        h1 {
            margin-top: 17em;
        }

        .down-arrow {
            bottom: 2em;
        }

        .subhead {
            font-size: 1.4rem;
            margin-left: 0.5em;
            margin-top: 2em;
        }
    }
 }

@media only screen and (min-width:376px) and (max-width:450px) {
   section.hero {
       height: 63vh;
       h1 {
        margin-top: 8em;
        font-size: 2rem;
        margin-bottom: 2.2em;
    }

    .subhead {
        font-size: 1.4rem;
        margin-left: 0.5em;
    }
   }

   .skills .title {
       margin-top: 15%;
   }
}

@media only screen and (max-width: 375px) { 

    section.hero {
        height: 55vh;

        h1 {
            margin-top: 5.5em;
            font-size: 2rem;
        }

        .subhead {
            font-size: 1rem;
            margin-left: 0.5em;
        }

    }
    .projects-info {
        margin-top: 38.6%;

        .projects {
            margin-top: 35%;

            .title {
                margin-bottom: 2em;
            }
        }
    }
    .skills {
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 600px) { 
    body {
        margin: 1.5em 5em;
        font-family: 'Poppins', sans-serif;
        
        .hero-img {
            height: 100vh;
        }
    } 
    
    section.hero {
        height: 45vh;

        h1 {
            margin-top: 16em;
        }

        .subhead {
            margin-left: 0.5em;
        }

    }
}

@media only screen and (min-width: 900px) { 
    .menu {
        display: none;
    }

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        svg.close {
            display: none ;
        }

        ul {
            display: flex;
            margin: 0;

            a {
                color: black;
                width: auto;
                padding: .5em 1.5em;
                font-size: 1.2rem;;
                
                &:hover {
                    background: none;
                    text-decoration: underline;
                }
            }
        }
    }

    .hero-img {
        left: unset;
        right: 0;
        width: 50%;
        height: 42em;
    }

    .logo {
        color: black;

        span {
            color: red;
        }
    }

    section.hero {
        color: black;
        height: 100%;
        width: 40%;
        margin-bottom: 30.7em;

        .down-arrow {
            position: absolute;
            stroke: black;
            width: 0.7em;
            top: 19em;
    
            path {
                fill:black;
            }
        }

       

        h1 {
            margin-left: 0;
            margin-top: 3em;
            text-align: left;
            line-height:6rem;
        }

        .subhead {
            font-size: 1.1rem;
            margin-left: 0;
            margin-top: -1.2em;
            color: black;
            backdrop-filter: none;
            
            
        }
    }

    .projects {
        padding-top: 0;
    }

    .feature {
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 3em;
        margin-bottom: 8em;


        img {
            width: 25em;
        }

        .content {
            text-align: right;
            width: 25em;
        }
    }

    .feature.left {
        grid-template-areas: "left right";
        
        img {
            grid-area: left;
        }

        .content {
            grid-area: right;
            text-align: left;
            width: 25em;
            justify-self: left;
        }
    }
}

@media only screen and (min-width: 1200px) {


    nav {
        margin-left: 10em;
    }

    .feature {
        gap: 0;
    }

    .projects {
        padding-top: 0;
    }
    .projects-info {
        padding-top: 1%;
    }
}

 @keyframes introLoad {
      from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      }
      to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
 }

 

 @keyframes moveArrow {
    from {
      transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes moveDown {
    from {
      transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


