.header {

    &.open { // Open/Close Btn 

        .overlay {
            display: block;
        }

        .header__toggle {
            > span:first-child {
                transform: rotate(45deg);
            }
    
            > span:nth-child(2) {
                opacity: 0;
            }
    
            > span:last-child {
                transform: rotate(-45deg);
            }
    
        }
            
    }
     
    .overlay {
        opacity: 0;
        position: fixed;
        top: 0px;
        bottom:0px;
        left: 0px;
        right: 0px;
        background-image: linear-gradient($neonViolet, transparent);
    }  

    nav {
        position: relative;
        padding-top: 1.0625rem;
        padding-left: 1.5rem;
        padding-bottom: 1.0625rem;
        padding-right: 1.5rem;
        background-color: $white;
        z-index: 2;

        @include breakpoint-up(large){
            padding-left: 4rem;
            padding-right: 4rem;
        }

    }

    &__logo { // Logo
        font-weight: bold;
        color: $black;

        span {
        color: $neonRed;
        }

        .square {
            height: 10px;
            width: 10px;
            background-color: $neonRed;
            display: inline-block;
            margin-bottom: 1px;
            overflow: hidden;
            transition-duration: 0.8s;
            transition-property: transform;
        }
    
        .square:hover {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            background-color: $neonViolet;
        }

    }

    &__toggle {  // Mobile Menu Toggle
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $middleGrey;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__menu {
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background: $white;  
        padding: 1.625rem;
        margin-top: 1.5rem;
        border-radius: 5px;
        z-index: 1;
        
        a {
            display: block;
            padding: 0.625rem;
            color: $black;
            text-align: center ;

        }
    }

    &__links { // Desktop menu
        a {
            position: relative;
            font-size: $font-med;
            color: $lightBlack;
            text-transform: uppercase;
            transition: color 300ms ease-in-out ;
            padding-right: 2em;

            &:not(:last-child) {
                padding-right: 2em;
            }

            &:hover {
                color: $black;

                &::before {
                    opacity: 1;
                }
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                height: 5px;
                background: $lightPastelRose;
                left: 0;
                right: 2em;
                bottom: -30px;
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            } 
        }   

    }
}