.hero {
    @include breakpoint-up(large) {
        display: flex;
        align-items: center; 
    }

    &__image {
        position:relative;
        background-image: url('../../mypage/images/pawel-czerwinski-ruJm3dBXCqw-unsplash.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
        z-index: -1;

        @include breakpoint-up(large) {
            flex: 3;
            order: 2;
            min-height: 41rem;
        }

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-image: url('../../images/girl_emoji.svg');
            background-repeat: no-repeat;
            background-position: center bottom;

            @include breakpoint-up(large) {
                left: -40%;
            }
        } 
    }

    &__text {
        text-align: center;
        color: $lightBlack;

        @include breakpoint-up(large) {
            flex: 2;
            order: 1  ;
            text-align: left;
        }

        p {
            font-size: $font-med;  
        }

    }

    .arrow {
        content: "";
        height: 8rem;   
        img {
            stroke: white;
            position: absolute;
            width: .6em;
            animation: moveArrow 1.5s alternate-reverse infinite;
            left: 50%; 
    
            path {
                fill:white;
            }
        } 
    }
}
