// Colors
$ultraLightRed:rgb(246, 228, 228);
$white: rgb(255, 255, 255);
$neonRed: rgb(255, 0, 0);
$neonViolet: rgb(195, 0, 255);
$black: rgb(0, 0, 0);
$lightBlack: rgb(59, 58, 58);
$ultraLightGrey: rgb(235, 232, 232);
$brownish: rgb(46, 45, 45);
$ultraLightRose: rgb(248, 199, 227);
$toWhiteRose: rgb(252, 247, 249);
$lightPastelRose: rgb(216, 176, 216);
$middleGrey: rgb(139, 135, 135);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px


