html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.3;
  background-color: #f6e4e4;
  color: black;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  padding: 1rem 1.875rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #8b8787;
  color: white;
  font-weight: 400;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header nav {
  padding: 1.0625rem 1.5rem;
}

.header__logo {
  font-weight: bold;
  color: black;
  padding-left: 2rem;
}

.header__logo span {
  color: red;
}

.header__menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #8b8787;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__menu > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu.open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__menu.open > span:nth-child(2) {
  opacity: 0;
}

.header__menu.open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__links a {
  position: relative;
  font-size: 1.125rem;
  color: #3b3a3a;
  text-transform: uppercase;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  padding-right: 2em;
}

.header__links a:not(:last-child) {
  padding-right: 2em;
}

.header__links a:hover {
  color: black;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__links a:before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  background: #d8b0d8;
  left: 0;
  right: 2em;
  bottom: -30px;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header .square {
  height: 10px;
  width: 10px;
  background-color: red;
  display: inline-block;
  margin-bottom: 1px;
  overflow: hidden;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.header .square:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  background-color: #c300ff;
}

.header .overlay {
  position: fixed;
  top: 3.75rem;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c300ff), to(transparent));
  background-image: linear-gradient(#c300ff, transparent);
}
/*# sourceMappingURL=style.css.map */