/* Use create keyframes to create animation 
    @keyframes here-name-of-animation  {
        from {
            initial styles
        }
        50% {
        } 
        78% {
        } 
        to {
            final state
        }
    }
*/
.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  background-color: #f6e4e4;
  color: black;
}

body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  padding: 1rem 1.875rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #8b8787;
  color: white;
  font-weight: 400;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header.open .overlay {
  display: block;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c300ff), to(transparent));
  background-image: linear-gradient(#c300ff, transparent);
}

.header nav {
  position: relative;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  background-color: white;
}

.header__logo {
  font-weight: bold;
  color: black;
}

.header__logo span {
  color: red;
}

.header__logo .square {
  height: 10px;
  width: 10px;
  background-color: red;
  display: inline-block;
  margin-bottom: 1px;
  overflow: hidden;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.header__logo .square:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  background-color: #c300ff;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #8b8787;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  padding: 1.625rem;
  margin-top: 1.5rem;
  border-radius: 5px;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: black;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 1.125rem;
  color: #3b3a3a;
  text-transform: uppercase;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  padding-right: 2em;
}

.header__links a:not(:last-child) {
  padding-right: 2em;
}

.header__links a:hover {
  color: black;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__links a:before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  background: #d8b0d8;
  left: 0;
  right: 2em;
  bottom: -30px;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
/*# sourceMappingURL=style.css.map */